// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: image-url('r&p-logo.png') no-repeat center;

$skinActiveColor: #C32C2E;
$skinHeaderBck: #000000;
$panelHeaderBck: #000000;

@import "active_skin";

#header {
  h1.site_title {
    background-size: contain;
    background-color: black;
  }
  #utility_nav {
    background: #ECF0F1;
  }
}

#title_bar .action_items span.action_item > a.flat-btn {
  box-shadow: none;
  border-radius: 0;
  background: $skinActiveColor;
  color: white;
  border: none;
  text-shadow: none;
  padding: 11px 20px;
}

.admin_users #titlebar_right {
  .action_item a:not(.flat-btn) {
    display: none;
  }
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
